button {
    background: powderblue;
    border-radius: 5px;
    height: 2.2rem;
    cursor: pointer;

    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

button:hover:enabled {
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;

    background: #89d5d7;
}

button:active:enabled {
    background: cadetblue;
}

button:disabled {
    cursor: not-allowed;
}

select {
    background: aliceblue;
    aspect-ratio: 8;
    border-radius: 10px;
}

input {
    background: floralwhite;
    border-radius: 10px;
}

body {
    background: lightsteelblue;
}