button {
    background: powderblue;
    border-radius: 5px;
    height: 2.2rem;
    cursor: pointer
}

button:disabled {
    cursor: not-allowed;
}

select {
    background: aliceblue;
    aspect-ratio: 8;
    border-radius: 10px;
}

input {
    background: floralwhite;
    border-radius: 10px;
}

body {
    background: lightsteelblue;
}